{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% load sass_tags %}
    <link href="{% sass_src 'theme.scss' %}" rel="stylesheet" type="text/css" />
    {% block extra_head %} {% endblock %}
    <title>
      {% block head_title %}{% endblock %}
    </title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="border: 0">
        <a class="navbar-brand" href="/">시-츄</a>

        <div class="" id="navbarNav">
            <ul class="navbar-nav">

                {% if user.is_authenticated %}
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'mypage' %}">마이페이지(관심 강의 보기)</a>
                  </li>
                  <!--
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'account_logout' %}">로그아웃</a>
                  </li> -->

                {% else %}
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'account_login' %}">로그인</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'account_signup' %}">회원가입</a>
                  </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% block content %}
    {% endblock %}

    {% block extra_body %}
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
    {% if request.path == "/" %}
      $( function() {
      const lectureList = {{lecture_list|safe}};
      const professorList = {{professor_list|safe}};

      $( "#lecture-input" ).autocomplete({

        source: lectureList
      }).autocomplete( "instance" )._renderItem = function( ul, item ) {
        return $( "<li class='list-group-item col-lg-3 col-sm-6'>" )
        .append( "<div>" + item.value + "</div>" )
        .appendTo( ul );
      };

      $( "#professor-input" ).autocomplete({

        source: professorList
      }).autocomplete( "instance" )._renderItem = function( ul, item ) {
        return $( "<li class='list-group-item w-50 mr-3'>" )
        .append( "<div>" + item.value + "</div>" )
        .appendTo( ul );
      };

    });
    {% endif %}
    </script>
</body>


</html>
