{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% load sass_tags %}
    <link href="{% sass_src 'theme.scss' %}" rel="stylesheet" type="text/css" />
    {% block extra_head %} {% endblock %}
    <title>{% block head_title %}{% endblock %}</title>

</head>

<body class="shared-height" style="height: 100vh;">
    <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="position: fixed;">
        <a class="navbar-brand" href="#">DnA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="text-white" href="{% url 'account_email' %}">Change E-mail</a>
                </li>
                <li class="nav-item">
                    <a class="text-white" href="{% url 'account_logout' %}">Sign Out</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="text-white" href="{% url 'account_login' %}">로그인하기</a>
                </li>
                <li class="nav-item">
                    <a class="text-white" href="{% url 'account_signup' %}">회원가입하기</a>
                </li>

                {% endif %}
            </ul>
        </div>
    </nav> -->

    {% block content %}
    {% endblock %}

    {% block extra_body %}
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>

</body>

<style>
    body {
        height: 100vh;
        margin: 0;
        background-color: #f26549;

    }
</style>

</html>