@charset "UTF-8";
$primary: #f26549;
$secondary: #4a6cd3;
$dark: #353535;

:root {
  --theme-color: #f26549;
  --theme-color-2: #4a6cd3;
  --theme-color-3: #353535;
}

@import 'bootstrap/scss/bootstrap.scss';
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

body {
    font-family: 'NanumSquare', sans-serif;
}

//home.html
.form-control {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
<<<<<<< HEAD
.bg_img {
    height: 100vh;
    background-image: url("../static/bg.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.2);
}
=======
// h1{
//     font-size: 1000px;
// }
>>>>>>> 6e574f6e7f78ab40f843830fbe632652abf7f020

//result/both.html

//result/prof.html
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-left-width: 5px;
    border-left-color: #f26549;
}




