@charset "UTF-8";
$primary: #f26549;
$secondary: #4a6cd3;
$dark: #353535;

:root {
  --theme-color: #f26549;
  --theme-color-2: #4a6cd3;
  --theme-color-3: #353535;
}

@import 'bootstrap/scss/bootstrap.scss';
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);



body {
    font-family: 'NanumSquare', sans-serif;
}

//home.html
.form-control {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
h1{
    font-size: 1000px;
}



//result/both.html

//result/prof.html
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-left-width: 5px;
    border-left-color: #f26549;
}



