@charset "UTF-8";
$primary: #f26549;
$secondary: #4a6cd3;
$dark: #353535;

:root {
  --theme-color: #f26549;
  --theme-color-2: #4a6cd3;
  --theme-color-3: #353535;
}

@import 'bootstrap/scss/bootstrap.scss';
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

body{
    font-family: 'NanumSquare', sans-serif;
    height: 100vh;
}

//home.html
.form-control {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.bg_img {
    height: 100vh;
    background-image: url("../static/bg.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

//result/both.html

//result/prof.html
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-left-width: 5px;
    border-left-color: #f26549;
}
//signup.html




.blue-circle {
  background-color: var(--theme-color-2);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 100px;
  left: -10px;
}
.orange-circle-top {
  background-color: var(--theme-color);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  top: 60%;
  right: 30%;


}
.orange-circle-bottom {
  background-color: var(--theme-color);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  bottom: 60px;
}
.black-circle-top {
  background-color: var(--theme-color-3);
  width: 230px;
  height: 230px;
  border-radius: 50%;
  position: absolute;
  top: 100px;
  right: 5%;
}