$primary: #df6e52;
$secondary: yellow;

:root {
  --theme-color: #df6e52;
  --theme-color-2: #E4A972;
}

@import 'bootstrap/scss/bootstrap.scss';

//home.html
.background{
    // background: linear-gradient(-135deg, #E4A972, #466E88) fixed;
    // background: radial-gradient(#F2B9A1, #EA6264) fixed;
    background: linear-gradient(to right, $primary, var(--theme-color-2)) fixed;
}

//result/both.html
.aa {
    border-width: thick;
}



//result/prof.html

