$primary: #466E88;
$secondary: yellow;


@import 'bootstrap/scss/bootstrap.scss';

//home.html
.background{
    // background: linear-gradient(-135deg, #E4A972, #466E88) fixed;
    // background: radial-gradient(#F2B9A1, #EA6264) fixed;
    background: linear-gradient(to right, #466E88, #E4A972) fixed;
}

//result.html
button{
    background:#466E88;
    color:#fff;
    border:none;
    position:relative;
    height:60px;
    font-size:1.6em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
  }
button:hover{
    background:#fff;
    color:#466E88;
  }
button:before,button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #466E88;
    transition:400ms ease all;
  }
button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
button:hover:before,button:hover:after{
    width:100%;
    transition:800ms ease all;
  }