{% extends "base_background.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

{% get_providers as socialaccount_providers %}

<!-- {% if socialaccount_providers %}
<p class="text-white">{% blocktrans with site.name as site_name %}아직 ###의 회원이 아니시면, 먼저<a class="text-white"href="{{ signup_url }}">회원가입</a>을 진행해주세요.
    for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

    <ul class="socialaccount_providers">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    </ul>

    <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
    <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %} -->
<div class="container shared-height" style="height: 100vh;">
    <div class="row align-items-center shared-height" style="height: 100vh;">
        <div class="m-auto" style="width: 100%;">
        <p class="text-white text-center">아직 ###의 회원이 아니시면,<br><a class="text-dark font-weight-bold"href="{{ signup_url }}">회원가입</a> 을 먼저 진행해주세요.</p>       
        <div class="card m-auto p-5" style="border-color: white; width: 50%; min-width: 300px;">
            <h1 class="text-center pb-4 text-dark">{% trans "로그인하기" %}</h1>
            <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                <p>{{ form.login }}</p>
                <p>{{ form.password }}</p>
                <p>{{ form.remember }} 아이디/비밀번호 저장하기</p>
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "비밀번호찾기" %}</a>
                <button type="submit" class="btn btn-primary btn-block">{% trans "로그인하기" %}</button>
            </form>
        </div>
    </div>
    </div>
</div>

{% endblock %}