{% extends "base_background.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="container shared-height" style="height: 100vh;">
    <div class="row align-items-center shared-height" style="height: 100vh;">
        <div class="card m-auto p-5" style="border-color: white; width: 50%; min-width: 300px;">

            <h2 class="text-center text-dark my-4">{% trans "비밀번호 변경" %}</h2>
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            <p class="text-center text-dark"><span class="font-weight-bold">{% trans "비밀번호를 잊어버리셨나요? </span><br> E-mail로 새로운 비밀번호를 보내드리겠습니다." %}
            </p>

            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                {% csrf_token %}
                <div class="mb-4">{{ form.email }}</div>
                <button type="submit" class="btn btn-primary btn-block">{% trans "새로운 비밀번호 받기" %}</button>
            </form>

        </div>
    </div>
</div>
{% endblock %}