{% extends "base_background.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container shared-height" style="height: 100vh;">
    <div class="row align-items-center shared-height" style="height: 100vh;">
        <!-- <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign
                in</a>.{% endblocktrans %}</p>
                <br> -->
        <div class="card m-auto p-5" style="border-color: white; width: 50%;">
            <h1 class="text-center pb-4">{% trans "회원가입하기" %}</h1>
            <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                <div class="pt-4  py-0 rounded-pill"">{{form.username}}</div>
                <div class="pt-4 rounded-pill">{{form.email}}</div>
                <div class="pt-4 rounded-pill">{{form.password1}}</div>
                <div class="py-4 rounded-pill">{{form.password2}}</div>
                <!-- {{ form.as_p }} -->
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button type="submit" class="btn btn-primary btn-block">{% trans "작성완료" %}</button>
            </form>
        </div>
    </div>

</div>
{% endblock %}