{% extends "base_background.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container shared-height" style="height: 100vh;">
    <div class="row align-items-center shared-height" style="height: 100vh;">
        
        <div class="card m-auto p-5" style="border-color: white; width: 50%; min-width: 300px;">
            <h2 class="text-center pb-4 text-dark">{% trans "회원가입하기" %}</h2>
            <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.username }}

                    {{ form.email }}
                    {{ form.password1 }}
                    {{ form.password2 }}
                </div>
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button type="submit" class="btn btn-primary btn-block">{% trans "작성완료" %}</button>
            </form>
        </div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script>

  $( document ).ready(function(){
    $("#id_username").addClass("form-control my-2");
    $("#id_email").addClass("form-control my-2");
    $("#id_password1").addClass("form-control my-2");
    $("#id_password2").addClass("form-control my-2")
  })
</script>

{% endblock %}