{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="text-center mt-5">
        <div class="my-5">
            <h1>빅장고</h1>
        </div>
        <div class="form-group">
            <form action="{% url 'result' %}" method="GET">
                <input class="form-control" name="lecture" placeholder="강의명을 입력하세요">
                <input class="form-control" name="professor" placeholder="교수명을 입력하세요">

                <!-- <input id="searchBt" type="submit" value="asdasasd" class="fa-lg"> -->
                <button type="submit" class="btn btn-primary">검색하기</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}