{% extends 'base.html' %}

{% block content %}
<!-- 강의명과 교수명 일치하지 않거나, 아무것도 입력하지 않을시 alert -->
{% if alert %}
<div class="alert alert-primary text-center" role="alert" style="position: fixed; top: 10px; left: 10%; width: 80%;">
    {{alert}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

<div class="blue-circle"></div>
<div class="orange-circle-top"></div>
<div class="orange-circle-bottom"></div>
<div class="black-circle-top"></div>
<div class="container shared-height" style="height: 100vh;">

    <div class="row align-items-center shared-height" style="height: 100vh;">
        <div class="col-md-6 col-sm-12">
            <div class="left_wrapper text-center">
                <h1 class="font-weight-bold text-primary text-shadow" style="font-size: 4rem;">시간표 추천</h1>
                <p class="font-weight-bold mt-3 text-primary">
                  옵션1) 강의명 + 교수님 성함
                  <br>
                  옵션2) 교수님 성함
                  <br>
                  검색해주세요!
                </p>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 form-group">
            <div class="right_wrapper">
                <div class="card p-5" style="border-color: white;">
                    <form action="{% url 'result' %}" method="GET">
                        <div class="form-group">
                            <!-- required = true(필수로 입력해야하느 조건) 일단 없앴어용 -->
                            <input class="form-control py-4 my-4 rounded-pill" name="lecture" placeholder="강의명을 입력하세요" id="lecture-input">
                            <input class="form-control py-4 rounded-pill" name="professor" placeholder="교수명을 입력하세요" required=true id="professor-input">
                        </div>
                        <!-- <input id="searchBt" type="submit" value="asdasasd" class="fa-lg"> -->
                        <button type="submit" class="btn btn-primary btn-block">검색하기</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>



{% endblock %}
