{% extends 'base.html' %}


{%block content %}

<div class="container">
  <div class="card py-5 px-2 my-5">
    <h3 class="text-center">{{first_lecture.name}}</h3>

    <h5 class="text-center"><a href="/show/?lecture=&professor={{first_lecture.prof}}">{{first_lecture.prof}}</a></h5>
    <hr>
    <div class="card px-3 py-2">
      <h4>상세 정보</h4>
      <p class="my-2">강의 개수 : {{lectures.count}}</p>
      <p class="">
        리뷰 평균 : {{average}}
      </p>
      <p class="">
        수강 학기 : {{first_lecture.semester}}
      </p>
      <p class="">
        {{first_lecture.weight}}
      </p>

      <p class="">
        대상 : {{first_lecture.recommend_year}} 학년
      </p>
      <p class="">
        에브리타임 링크 :
        <a href="{{first_lecture.link}}" target="_blank">
          {{first_lecture.link}}
        </a>

      </p>



<!--
      name = models.CharField(max_length=100)
      class_code = models.CharField(max_length=100)
      score = models.CharField(max_length=100)
      category = models.CharField(max_length=50)
      prof = models.CharField(max_length=50)
        time = models.TextField()
        recommend_year = models.CharField(max_length=255)
        weight = models.CharField(max_length=100)
        remarks = models.TextField()
        link = models.URLField(max_length=255)
        semester = models.CharField(max_length=255)
        competitor = models.CharField(max_length=255, default="0") -->
    </div>
    <div class="py-2">
      <h5 class="btn btn-outline-warning btn-block list-trigger">강의 시간표(더보기)</h5>

      <ul class="list-group none" style="display: none">
      {% for lecture in lectures %}
        <li class="list-group-item" id="lecture-{{lecture.id}}">
          <div class="row">
            <div class="col-sm-11">
              {{lecture.time}}
            </div>
            <div class="col-sm-1">
              <a href="#" class="like-trigger" id="{{lecture.id}}">
                {% if lecture.id in likes_list %}
                  <i class="fas fa-heart float-right"></i>
                {% else %}
                  <i class="far fa-heart float-right"></i>
                {% endif %}
              </a>


            </div>
          </div>

        </li>
      {% endfor %}
      </ul>
    </div>
    <hr>
    <div class="py-2">
      <h5 class="btn btn-outline-warning btn-block review-trigger">리뷰(더보기)</h5>

      <ul class="list-group none" style="display: none">
      {% for review in result.review.tolist %}
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-1" style="color:
              {% if review.1 < 2 %}
              red
              {% elif review.1 > 3.5 %}
              green
              {% else %}
              orange
              {% endif %}
            ">
              {{review.1}}
            </div>
            <div class="col-sm-11">{{review.0}}</div>
          </div>
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>



</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script>
  $(".list-trigger").on("click", function(){
    let $list = $(this).next();
    if ($list.hasClass("none")){
      $list.removeClass("none");
      $(this).html("강의 시간표 (접기)");
      $list.show();
    } else {
      $list.addClass("none");
      $list.hide();
      $(this).html("강의 시간표 (더보기)");
    }
  })
  $(".review-trigger").on("click", function(){
    let $list = $(this).next();
    if ($list.hasClass("none")){
      $list.removeClass("none");
      $(this).html("리뷰 (접기)");
      $list.show();
    } else {
      $list.addClass("none");
      $list.hide();
      $(this).html("리뷰 (더보기)");
    }
  })


  $(".like-trigger").on("click", function(){
    let lectureId = $(this).attr("id");
    console.log(lectureId + "lecture clicked!")
    $.ajax({
      url: `/like/${lectureId}`,
      type: "GET",
      success: function(){
        console.log("ajax success");
        $icon = $("#"+lectureId).children();
        console.log("icon: " + $icon);
        console.log($icon)
        if ($icon.hasClass("far")){
          $($icon).removeClass("far");
          $($icon).addClass("fas");
        } else {
          $($icon).removeClass("fas");
          $($icon).addClass("far");
        }
      }
    });
    return false;
  })

</script>
{%endblock%}

